<section class="container items">
    <div class="panel panel-default border-dressing">
        <!-- Default panel contents -->
        <div class="panel-heading"><h4>Our Story</h4></div>
        <div class="panel-body">
            <div class="text-center"><img src="/images/hells_kitchen.jpg" alt="Start-To-Finish"></div>
            <p class="our-story-p">From Start to Finish is the manifestation of a culinary journey that I have been traveling for over 25 years.   As a young child, I owned a top kitchen set, complete with dreams of having an Easy-bake Oven.  In 8th grade I baked my first cake, and then I stepped away from the kitchen, thinking that it was not the place I wanted to be.  It would be 6 years before I entered again.</p>
            <p class="our-story-p">As a sophomore in college, I found myself amongst a group of peers who were interested in preparing a Thanksgiving meal for one of the student led organizations.  Each member of the group was offering up recipes and years of experience having cooked before coming to the university.  Not wanting to be left out, I felt challenged to contribute, so I picked up the phone and called home to ask for some recipes.  I can still remember my mom response when I told her that I wanted to get some recipes to cook.  She was okay with it until I told her that I would need to scale the recipes to feed 150 students.  In my mind, I was thinking, what's the big deal, it's just simple math.  She said good luck, I did my calculations, created my shopping list, and some hours later, I had prepared macaroni and cheese for 150 of my peers.  The experience was challenging, exhausting, and liberating.  That was 1995, and I haven't looked back since.</p>
            <p class="our-story-p">For me, overcoming my resistance to enter the kitchen was the challenge, and when I found myself there again I discovered that cooking, for me, was a stress reliever, an expression of creativity, and an opportunity to experience the joy of accomplishment in every dish that I start and finish. </p>
            <p class="our-story-p">Today, I cook, I bake, and I enjoy being able to expand my knowledge of cooking and share my love of the process with my family and friends.  I don't consider myself a chef, just a connoisseur of good food and increased knowledge.  So whether you are a novice wanting to learn to cook or a seasoned chef, regarding of where you are starting, developing your culinary skills or sharing your passion for cooking, this website is designed to get you to the finish.</p>
            <p>Bon appetit!!! </p>
        </div>
        <div class="panel-footer">
            <a class="recipes-link" onclick="window.history.back(); true;" href="/">Back</a>
        </div>
    </div>

</section>
