<section class="container items">
    <div class="panel panel-default border-dressing">
        <!--div class="panel-heading"></div-->
        <div class="panel-body">
            <div class="text-center"><img src="/images/exasperated-cook2.jpeg" alt="Start-To-Finish"></div>
            <p class="home-message">Creating great food is a thoughtful process infused by imagination and inspiration.  Every great dish begins with a collection of ingredients, tools and equipment, and ideas.  So you have the ingredient, tools and equipments; now where do you begin?</p>
            <p class="home-message">From Start to Finish is designed to help you find ideas for how to use the ingredients and tools at your disposal through the use of recipes and helpful tips contributed by those people who share similar passions for culinary.  So enter the site to create your next culinary masterpiece From Start to Finish. </p>
        </div>
        <div class="panel-footer">
            <a class="recipes-link" href="/recipes">Enter</a>
        </div>
    </div>
</section>